@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Barlow:ital@1&family=Katibeh&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  /*establece el margen para los cuatro lados*/
  padding: 0;
  /* Establece el espacio de relleno requerido por todos los lados de un elemento (top right bottom left)*/
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  /*indica cómo se deben calcular las medidas de un elemento - El valor border-box en el box-sizing hace que el padding y el border pasen a formar parte del cálculo del ancho de la caja y no lo suman posteriormente.*/ }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none;
  text-decoration: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/******************** HEADER ********************/
.header {
  background-color: #CEF5F1;
  height: 100px;
  width: 100%;
  top: 0;
  left: 0; }

.nav {
  height: 100px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 100px;
  grid-template-areas: "left-section" "center-section" "right-section"; }

.nav-link {
  color: #348888;
  text-decoration: none; }

.logo {
  width: 170px;
  height: 68.53px; }

.logo-position {
  display: flex;
  justify-content: center;
  align-items: center; }

.nav-menu {
  position: relative;
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  overflow-y: unset; }

.nav-menu-item {
  font-family: 'Barlow Condensed';
  font-size: 32px;
  margin: 0 10px;
  width: max-content; }

.nav-menu-link:hover {
  color: aqua;
  transition: 0.5s; }

.cuenta {
  width: 50px;
  height: 50px;
  margin-left: 15px; }

.menu-mini {
  width: 50px;
  height: 50px;
  margin-left: 10px; }

.cuenta-menu-position {
  display: flex;
  justify-content: space-evenly;
  align-items: center; }

.nav-toggle-cuenta {
  background: none;
  border: none; }

.nav-toggle-menu {
  background: none;
  border: none; }

.nav-toggle-mobile {
  display: none; }

.nav-toggle-cuenta:focus:not(:focus-visible) {
  outline: none; }

.nav-toggle-menu:focus:not(:focus-visible) {
  outline: none; }

@media (min-width: 320px) {
  .nav {
    height: 100px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px;
    grid-template-areas: "left-section" "right-section"; }
  .nav-menu {
    flex-direction: column;
    align-items: center;
    background-color: #348888;
    position: fixed;
    left: 0;
    top: 100px;
    width: 100%;
    padding: 15% 0;
    height: calc(100% - 100px);
    overflow-y: auto;
    left: 100%;
    transition: left 0.3s; }
  .nav-link {
    color: white; }
  .logo {
    margin-left: 6px; }
  .logo-position {
    display: flex;
    justify-content: flex-start;
    align-items: center; }
  .cuenta-menu-position {
    display: flex;
    justify-content: flex-end;
    align-items: center; }
  .nav-toggle-mobile {
    display: block; }
  .cuenta {
    width: 50px;
    height: 50px;
    margin-left: 20px; }
  .menu-mini {
    width: 50px;
    height: 50px;
    margin-left: 0px; }
  .nav-menu_visible {
    left: 0; } }

@media (min-width: 480px) {
  .nav {
    height: 100px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px;
    grid-template-areas: "left-section" "right-section"; }
  .nav-menu {
    flex-direction: column;
    align-items: center;
    background-color: #348888;
    position: fixed;
    left: 0;
    top: 100px;
    width: 100%;
    padding: 5% 0;
    height: calc(100% - 100px);
    overflow-y: auto;
    left: 100%;
    transition: left 0.3s; }
  .nav-link {
    color: white; }
  .logo {
    margin-left: 25px; }
  .logo-position {
    display: flex;
    justify-content: flex-start;
    align-items: center; }
  .cuenta-menu-position {
    display: flex;
    justify-content: flex-end;
    align-items: center; }
  .nav-toggle-mobile {
    display: block; }
  .cuenta {
    width: 50px;
    height: 50px; }
  .menu-mini {
    width: 50px;
    height: 50px;
    margin-right: 45px; }
  .nav-menu_visible {
    left: 0; } }

@media (min-width: 1280px) {
  .nav {
    height: 100px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 100px;
    grid-template-areas: "left-section" "center-section" "right-section"; }
  .nav-menu-item {
    font-family: 'Barlow Condensed';
    font-size: 32px;
    margin: 0 10px;
    width: max-content; }
  .nav-menu {
    position: relative;
    flex-direction: row;
    background-color: #CEF5F1;
    top: 0px;
    padding: 0;
    overflow-y: unset;
    height: 100px;
    left: 0%; }
  .nav-link {
    color: #348888; }
  .logo-position {
    display: flex;
    justify-content: center;
    align-items: center; }
  .cuenta-menu-position {
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
  .nav-toggle-mobile {
    display: none; }
  .cuenta {
    width: 50px;
    height: 50px;
    margin-left: 15px; }
  .menu-mini {
    width: 50px;
    height: 50px;
    margin-left: 10px; } }

/*hola*/
/******************** FOOTER ********************/
footer {
  /* Fondo del pie de pagina */
  width: 1920px;
  height: 257px;
  background-color: #348888; }

.logoFooter {
  /* LOGO DEL FOOTER */
  position: relative;
  width: 296px;
  height: 92px;
  font-family: 'Katibeh';
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  line-height: 65px;
  /* or 68% */
  list-style: none;
  text-decoration: none;
  color: #FFFFFF;
  top: 50px;
  left: 200px;
  display: flex;
  /*me dejo colocar un texto sobre otro*/ }
