@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Barlow:ital@1&family=Katibeh&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  /*establece el margen para los cuatro lados*/
  padding: 0;
  /* Establece el espacio de relleno requerido por todos los lados de un elemento (top right bottom left)*/
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  /*indica cómo se deben calcular las medidas de un elemento - El valor border-box en el box-sizing hace que el padding y el border pasen a formar parte del cálculo del ancho de la caja y no lo suman posteriormente.*/ }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none;
  text-decoration: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.header {
  background-color: #CEF5F1;
  height: 100px;
  width: 100%;
  top: 0;
  left: 0; }

.nav-header {
  height: 100px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 100px;
  grid-template-areas: "left-section" "center-section" "right-section"; }

.nav-link-header {
  color: #348888;
  text-decoration: none; }

.logo-header {
  width: 170px;
  height: 68.53px; }

.logo-position-header {
  display: flex;
  justify-content: center;
  align-items: center; }

.nav-menu-header {
  position: relative;
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  overflow-y: unset; }

.nav-menu-item-header {
  font-family: 'Barlow Condensed';
  font-size: 32px;
  margin: 0 10px;
  width: max-content; }

.nav-menu-link:hover {
  color: aqua;
  transition: 0.5s; }

.cuenta {
  width: 50px;
  height: 50px;
  margin-left: 15px; }

.menu-mini {
  width: 50px;
  height: 50px;
  margin-left: 10px; }

.cuenta-menu-position {
  display: flex;
  justify-content: space-evenly;
  align-items: center; }

.nav-toggle-cuenta {
  background: none;
  border: none; }

.nav-toggle-menu {
  background: none;
  border: none; }

.nav-toggle-mobile {
  display: none; }

.nav-toggle-cuenta:focus:not(:focus-visible) {
  outline: none; }

.nav-toggle-menu:focus:not(:focus-visible) {
  outline: none; }

@media (min-width: 320px) {
  .nav-header {
    height: 100px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px;
    grid-template-areas: "left-section" "right-section"; }
  .nav-menu-header {
    flex-direction: column;
    align-items: center;
    background-color: #348888;
    position: fixed;
    left: 0;
    top: 100px;
    width: 100%;
    padding: 15% 0;
    height: calc(100% - 100px);
    overflow-y: auto;
    left: 100%;
    transition: left 0.3s; }
  .nav-link-header {
    color: white; }
  .logo-header {
    margin-left: 6px; }
  .logo-position-header {
    display: flex;
    justify-content: flex-start;
    align-items: center; }
  .cuenta-menu-position {
    display: flex;
    justify-content: flex-end;
    align-items: center; }
  .nav-toggle-mobile {
    display: block; }
  .cuenta {
    width: 50px;
    height: 50px;
    margin-left: 20px; }
  .menu-mini {
    width: 50px;
    height: 50px;
    margin-left: 0px; }
  .nav-menu_visible {
    left: 0; } }

@media (min-width: 480px) {
  .nav-header {
    height: 100px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px;
    grid-template-areas: "left-section" "right-section"; }
  .nav-menu-header {
    flex-direction: column;
    align-items: center;
    background-color: #348888;
    position: fixed;
    left: 0;
    top: 100px;
    width: 100%;
    padding: 5% 0;
    height: calc(100% - 100px);
    overflow-y: auto;
    left: 100%;
    transition: left 0.3s; }
  .nav-link-header {
    color: white; }
  .logo-header {
    margin-left: 25px; }
  .logo-position-header {
    display: flex;
    justify-content: flex-start;
    align-items: center; }
  .cuenta-menu-position {
    display: flex;
    justify-content: flex-end;
    align-items: center; }
  .nav-toggle-mobile {
    display: block; }
  .cuenta {
    width: 50px;
    height: 50px; }
  .menu-mini {
    width: 50px;
    height: 50px;
    margin-right: 45px; }
  .nav-menu_visible {
    left: 0; } }

@media (min-width: 1280px) {
  .nav-header {
    height: 100px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 100px;
    grid-template-areas: "left-section" "center-section" "right-section"; }
  .nav-menu-item-header {
    font-family: 'Barlow Condensed';
    font-size: 32px;
    margin: 0 10px;
    width: max-content; }
  .nav-menu-header {
    position: relative;
    flex-direction: row;
    background-color: #CEF5F1;
    top: 0px;
    padding: 0;
    overflow-y: unset;
    height: 100px;
    left: 0%; }
  .nav-link-header {
    color: #348888; }
  .logo-position-header {
    display: flex;
    justify-content: center;
    align-items: center; }
  .cuenta-menu-position {
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
  .nav-toggle-mobile {
    display: none; }
  .cuenta {
    width: 50px;
    height: 50px;
    margin-left: 15px; }
  .menu-mini {
    width: 50px;
    height: 50px;
    margin-left: 10px; } }

/************* MAIN INDEX-HOMEPAGE **************/
@media (min-width: 320px) {
  .banner {
    width: 100%; }
  .titulo {
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 60px;
    align-items: center;
    text-align: center;
    margin-top: 5px;
    color: #F24405; }
  .subtitulo {
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    color: #FA7F08; }
  .seisRecetas {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "top section" "center-section" "down-section";
    margin-bottom: 40px; }
  .top-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .center-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .down-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .containerImgText {
    position: relative;
    text-align: center;
    margin: 5px; }
  .opacidadTextoImagen {
    background-color: #348888;
    height: 30px;
    opacity: 0.75;
    position: absolute;
    bottom: 1.5%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100%; }
  .imgUno {
    width: 260px;
    height: 100px; }
  .imgDos {
    width: 260px;
    height: 100px; }
  .imgTres {
    width: 260px;
    height: 100px; }
  .imgCuatro {
    width: 260px;
    height: 100px; }
  .imgCinco {
    width: 260px;
    height: 100px; }
  .imgSeis {
    width: 260px;
    height: 100px; }
  .imgShadow:hover {
    opacity: 0.5;
    transition: 500ms; }
  .textSobreImagen {
    /* TEXTO SOBRE LAS IMAGENES DE RECETAS */
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-size: 20px;
    position: absolute;
    top: 74%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100%;
    color: #ffffff; } }

@media (min-width: 480px) {
  .titulo {
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 60px;
    align-items: center;
    text-align: center;
    margin-top: 5px;
    color: #F24405; }
  .subtitulo {
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 25px;
    align-items: center;
    text-align: center;
    margin: 10px 0px 35px 0px;
    color: #FA7F08; }
  .seisRecetas {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "top section" "center-section" "down-section";
    margin-bottom: 60px; }
  .containerImgText {
    position: relative;
    text-align: center;
    margin: 6px; }
  .opacidadTextoImagen {
    background-color: #348888;
    height: 41px;
    opacity: 0.75;
    position: absolute;
    bottom: 1.5%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100%; }
  .imgUno {
    width: 390px;
    height: 150px; }
  .imgDos {
    width: 390px;
    height: 150px; }
  .imgTres {
    width: 390px;
    height: 150px; }
  .imgCuatro {
    width: 390px;
    height: 150px; }
  .imgCinco {
    width: 390px;
    height: 150px; }
  .imgSeis {
    width: 390px;
    height: 150px; }
  .textSobreImagen {
    /* TEXTO SOBRE LAS IMAGENES DE RECETAS */
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-size: 25px;
    position: absolute;
    top: 76%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100%;
    color: #ffffff; } }

@media (min-width: 600px) {
  .titulo {
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 60px;
    align-items: center;
    text-align: center;
    margin-top: 15px;
    color: #F24405; }
  .subtitulo {
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 25px;
    align-items: center;
    text-align: center;
    margin: 10px 0px 40px 0px;
    color: #FA7F08; }
  .seisRecetas {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "top section" "center-section" "down-section";
    margin-bottom: 100px; }
  .containerImgText {
    position: relative;
    text-align: center;
    margin: 10px; }
  .opacidadTextoImagen {
    background-color: #348888;
    height: 49px;
    opacity: 0.75;
    position: absolute;
    bottom: 1.5%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100%; }
  .imgUno {
    width: 480px;
    height: 184px; }
  .imgDos {
    width: 480px;
    height: 184px; }
  .imgTres {
    width: 480px;
    height: 184px; }
  .imgCuatro {
    width: 480px;
    height: 184px; }
  .imgCinco {
    width: 480px;
    height: 184px; }
  .imgSeis {
    width: 480px;
    height: 184px; }
  .textSobreImagen {
    /* TEXTO SOBRE LAS IMAGENES DE RECETAS */
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-size: 29px;
    position: absolute;
    top: 77%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100%;
    color: #ffffff; } }

@media (min-width: 768px) {
  .titulo {
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    line-height: 60px;
    align-items: center;
    text-align: center;
    margin-top: 25px;
    color: #F24405; }
  .subtitulo {
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 25px;
    align-items: center;
    text-align: center;
    margin: 20px 0px 50px 0px;
    color: #FA7F08; }
  .seisRecetas {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "top section" "center-section" "down-section";
    margin-bottom: 130px; }
  .containerImgText {
    position: relative;
    text-align: center;
    margin: 15px; }
  .opacidadTextoImagen {
    background-color: #348888;
    height: 57px;
    opacity: 0.75;
    position: absolute;
    bottom: 1.5%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100%; }
  .imgUno {
    width: 620px;
    height: 238px; }
  .imgDos {
    width: 620px;
    height: 238px; }
  .imgTres {
    width: 620px;
    height: 238px; }
  .imgCuatro {
    width: 620px;
    height: 238px; }
  .imgCinco {
    width: 620px;
    height: 238px; }
  .imgSeis {
    width: 620px;
    height: 238px; }
  .textSobreImagen {
    /* TEXTO SOBRE LAS IMAGENES DE RECETAS */
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-size: 35px;
    position: absolute;
    top: 79%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100%;
    color: #ffffff; } }

@media (min-width: 1024px) {
  .titulo {
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    color: #F24405; }
  .subtitulo {
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 41px;
    line-height: 25px;
    align-items: center;
    text-align: center;
    margin: 30px 0px 50px 0px;
    color: #FA7F08; }
  .seisRecetas {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "top section" "center-section" "down-section";
    margin-bottom: 140px; }
  .top-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  .center-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  .down-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  .containerImgText {
    position: relative;
    text-align: center;
    margin: 15px; }
  .opacidadTextoImagen {
    background-color: #348888;
    height: 50px;
    opacity: 0.75;
    position: absolute;
    bottom: 1.5%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100%; }
  .imgUno {
    width: 500px;
    height: 192px; }
  .imgDos {
    width: 311px;
    height: 192px; }
  .imgTres {
    width: 311px;
    height: 192px; }
  .imgCuatro {
    width: 500px;
    height: 192px; }
  .imgCinco {
    width: 311px;
    height: 192px; }
  .imgSeis {
    width: 500px;
    height: 192px; }
  .imgShadow:hover {
    opacity: 0.5;
    transition: 500ms; }
  .textSobreImagen {
    /* TEXTO SOBRE LAS IMAGENES DE RECETAS */
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-size: 41px;
    position: absolute;
    top: 74%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100%;
    color: #ffffff; } }

@media (min-width: 1280px) {
  .titulo {
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 78px;
    line-height: 60px;
    align-items: center;
    text-align: center;
    margin-top: 80px;
    color: #F24405; }
  .subtitulo {
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    line-height: 25px;
    align-items: center;
    text-align: center;
    margin: 40px 0px 50px 0px;
    color: #FA7F08; }
  .seisRecetas {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "top section" "center-section" "down-section";
    margin-bottom: 170px; }
  .top-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  .center-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  .down-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  .containerImgText {
    position: relative;
    text-align: center;
    margin: 15px; }
  .opacidadTextoImagen {
    background-color: #348888;
    height: 68px;
    opacity: 0.75;
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100%; }
  .imgUno {
    width: 700px;
    height: 269px; }
  .imgDos {
    width: 436px;
    height: 269px; }
  .imgTres {
    width: 436px;
    height: 269px; }
  .imgCuatro {
    width: 700px;
    height: 269px; }
  .imgCinco {
    width: 700px;
    height: 269px; }
  .imgSeis {
    width: 436px;
    height: 269px; }
  .imgShadow:hover {
    opacity: 0.5;
    transition: 500ms; }
  .textSobreImagen {
    /* TEXTO SOBRE LAS IMAGENES DE RECETAS */
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-size: 52px;
    position: absolute;
    top: 74%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100%;
    color: #ffffff; } }

@media (min-width: 1920px) {
  .titulo {
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 60px;
    align-items: center;
    text-align: center;
    margin-top: 112px;
    color: #F24405; }
  .subtitulo {
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 25px;
    align-items: center;
    text-align: center;
    margin: 63px 0px 120px 0px;
    color: #FA7F08; }
  .seisRecetas {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "top section" "center-section" "down-section";
    margin-bottom: 181px; }
  .top-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  .center-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  .down-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  .containerImgText {
    position: relative;
    text-align: center;
    margin: 60px; }
  .opacidadTextoImagen {
    background-color: #348888;
    height: 83px;
    opacity: 0.75;
    position: absolute;
    bottom: 0.5%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100%; }
  .imgUno {
    width: 900px;
    height: 345px; }
  .imgDos {
    width: 560px;
    height: 345px; }
  .imgTres {
    width: 560px;
    height: 345px; }
  .imgCuatro {
    width: 900px;
    height: 345px; }
  .imgCinco {
    width: 900px;
    height: 345px; }
  .imgSeis {
    width: 560px;
    height: 345px; }
  .imgShadow:hover {
    opacity: 0.5;
    transition: 500ms; }
  .textSobreImagen {
    /* TEXTO SOBRE LAS IMAGENES DE RECETAS */
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-size: 64px;
    position: absolute;
    top: 77%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100%;
    color: #ffffff; } }

@media (min-width: 320px) {
  .footer {
    height: 257px;
    width: 100%;
    background-color: #CEF5F1;
    margin-top: auto; }
  .nav-footer {
    height: 257px;
    width: 100%;
    display: grid;
    grid-template: 100% / 50%;
    grid-template-areas: "left-section right-section"; }
  .nav-link-footer {
    color: #348888;
    text-decoration: none; }
  .logo-footer {
    width: 161.5px;
    height: 64.98px; }
  .logo-position-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  .nav-menu-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none; }
  .botones-position {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 10px; }
  .redes {
    width: 40px;
    height: 40px;
    margin-left: 2px; }
  .nav-menu-item-footer {
    font-family: 'Barlow Condensed';
    font-size: 22px;
    display: inline-block; }
  .navfooter-boton-redes {
    background: none;
    border: none; }
  .right-section {
    margin-top: 10px; }
  .min_footer {
    display: none; } }

@media (min-width: 480px) {
  .logo-footer {
    width: 182.75px;
    height: 73.53px; } }

@media (min-width: 600px) {
  .logo-footer {
    width: 204px;
    height: 82.08px; } }

@media (min-width: 768px) {
  .logo-footer {
    width: 289px;
    height: 116.28px; } }

@media (min-width: 1280px) {
  .logo-footer {
    width: 425px;
    height: 171px; }
  .nav-footer {
    height: 257px;
    width: 100%;
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    grid-template-areas: "left-section right-section"; }
  .right-section {
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "left-secDesktop center-secDesktop right-secDesktop";
    align-items: flex-start; }
  .botones-position {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 0px; }
  .textoRedes {
    color: #348888;
    text-decoration: none;
    list-style: none;
    font-family: 'Barlow Condensed';
    font-size: 22px;
    display: flex;
    align-items: center; }
  .redes {
    padding: 5px; }
  .min_footer {
    display: flex; } }

.bodyUsuario {
  font-family: 'Barlow Condensed';
  font-weight: normal;
  font-size: 100%;
  color: #000000;
  margin: 0;
  background-color: #CEF5F1; }

.contenedorUsuario {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  width: 100%;
  height: 100%; }

.centralUsuario {
  max-width: 320px;
  width: 100%; }

.tituloUsuario {
  font-size: 250%;
  color: #ffffff;
  text-align: center;
  margin-bottom: 20px; }

.loginUsuario {
  width: 100%;
  padding: 50px 30px;
  background-color: #22BABB;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  box-sizing: border-box; }

.login input {
  font-family: 'Overpass', sans-serif;
  font-size: 110%;
  color: #348888;
  display: block;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  padding: 5px 5px 5px 10px;
  box-sizing: border-box;
  border: none;
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px; }

#login input::placeholder {
  font-family: 'Overpass', sans-serif;
  color: #348888; }

#login button {
  font-family: 'Overpass', sans-serif;
  font-size: 110%;
  color: #348888;
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  background-color: #348888;
  margin-top: 10px; }

#login button:hover {
  background-color: #348888;
  color: #ffffff; }

.pie-form {
  font-size: 90%;
  text-align: center;
  margin-top: 15px; }

.pie-form a {
  display: block;
  text-decoration: none;
  color: #ffffff;
  margin-bottom: 3px; }

.pie-form a:hover {
  color: #348888; }

.inferior {
  margin-top: 10px;
  font-size: 90%;
  text-align: center; }

.inferior a {
  display: block;
  text-decoration: none;
  color: #348888;
  margin-bottom: 3px; }

.inferior a:hover {
  color: #000000; }
