header{/* Fondo del encabezado*/
    width: 100%;
    background-color: $background-principal;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 12vh;
    grid-template-areas:
    "left-section"
    "center-section"
    "right-section"
    ;
    nav {
        width: 100%;
        ul{
            width: 100%;
            li{ /* Posicionamiento barra de navegación*/
            display: inline; /* ocupa el espacio que le corresponde solamente*/
            a{ /*Tipografia y texto barra de navegación*/
                list-style: none;
                text-decoration: none;
                font-family: 'Barlow Condensed';
                font-size: 32px;
                color: $color-texto-nav;
                }
            }
        }
    }
}

.left-section{
    @include props-flex(row,center,center)
}

.center-section{
    @include props-flex(row,center,center)
}

.right-section{
    @include props-flex(row,center,center)
}

.navBar{
    @include props-flex(row,space-around,center)
}